* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background: tan;
  display: block;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  background: #343a40;
  color: #fff;
  text-align: center;
  padding: 50px;
  margin-bottom: -20px;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}

.search-area {
  text-align: center;
}

.input-field {
  background: green;
  padding: 30px 0 30px 0;
  margin-top: 20px;
  align-items: center;
}

.form {
  
  display: inline;
  align-items: center;
 
  justify-content: center
}

.input-field button, .input-field select {
  background-color: purple;
  color: white;
}

button {
  margin-right: 10px;
  padding: 10px;
}

.input {
  text-align: center;
  margin-right: 10px;
  padding: 10px;
}

select {
  padding: 10px;
}

.card {
  margin: 15px;
  width: fit-content;
}

.card-description h2, .card-description h3 {
  font-size: 16px;
}

img {
  object-fit: cover;
}

.list {
  border: 3px solid red ;
  width: 350px;
  
}